<table>
    <thead>
        <tr>
            <th colspan="2"><%=@catherine.name.capitalize%></th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td>Color</td>
            <td><%=@catherine.color%></td>
        </tr>
         <tr>
            <td>Sex</td>
            <td><%=@catherine.sex%></td>
        </tr>
         <tr>
            <td>Description</td>
            <td><%=@catherine.description%></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td><%=@catherine.birth_date%></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><%=@catherine.age%></td>
        </tr>

    </tbody>
</table>


